.footer__wrapone{
  width: 100%;
  height: 750px;
  position: relative;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.footer__wraptwo{
  position: fixed;
  width: 100%;
  height: 950px;
  bottom: 0;
}



.footer__section{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7rem 0 1.5rem;
  background-color: var(--green);
}

.fs__top{
  width: 100%;
  border-top: 1px solid #e0e4e0;
  padding: 2rem 0 0;
}

.fs__container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
}

.fsc__left{
  display: flex;
  flex-direction: column;
  gap: 4rem
}

.fsl__top{
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.fsl__bottom{
  display: flex;
  flex-direction: column;
  gap: 1.2rem
}

.fs__span{
  font-size: var(--small-font-size);
  text-transform: uppercase;
  color: rgba(255,255,255,0.65);
  font-family: var(--semibold-font);
}

.first__links{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: var(--normal-fontt-size);
  color: white;
  font-family: var(--regular-font);

  a{
    color: white;
    opacity: 1;
    transition: all 0.5s ease;

    &:hover{
      opacity: 0.5;
    }
  }
}

.second__links{
  display: flex;
  gap: 0.4rem;

  svg{
    width: 50px;
    height: auto;
  }
}

.sl__link{
  transform: none;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(0.925);
  }
}

.fsc__right{
  width: 55%;
  display: flex;
  align-items: flex-start;
  gap: 6rem;
}

.fsr__box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fsb__bottom{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  a{
    font-size: var(--h3-font-size);
    color: white;
    letter-spacing: -1px;
    opacity: 1;
    transition: all 0.5s ease;

    &:hover{
      opacity: 0.5;
    }
  }
}

.fs__bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.fs__marquee{
  width: 100%;
  padding: 0.5rem 0 1.3rem;
  border-top: 1px solid #e0e4e0;
  border-bottom: 1px solid #e0e4e0;
}

.fs__laster{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: var(--normal-font-size);

  .version{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  a{
    color: white;
    text-decoration: underline;
    opacity: 1;
    transition: all 0.5s ease;
    font-family: var(--medium-font);

    &:hover{
      opacity: 0.5;
    }
  }
}
