.navigation{
  width: 100%;
  padding: 1.rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
}

.svg {
  height: 100px;
  width: auto;
  path {
    fill: var(--green) !important;
  }
}

