.navigation {
  width: 100%;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
}

.svg {
  height: 100px;
  width: auto;
  path {
    fill: var(--green) !important;
  }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 0 7px 0 0rem;
  margin-top: -1rem;
  border-radius: 100px;
  background-color: #f5f5f5;
}

.navcontent {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  list-style: none;
}

.navlist {
  position: relative;

  svg {
    transform: none;
    transition: all 0.5s ease;
  }

  &:hover {
    svg {
      transform: rotate(-180deg);
    }
  }
}

.nav__1{
  padding-left:  2rem;
}

.nav__label {
  font-family: var(--roman-font);
  color: var(--green);
  display: flex;
  align-items: center;
  gap: 0.15rem;
  cursor: pointer;
  padding: 1.4rem 0 1.5rem;

  svg {
    margin-top: 0.1rem;
  }
}

.link__modal1{
  position: absolute;
  left: 0rem;
  border-radius: 2rem;
  background-color: #f5f5f5;
  list-style: none;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.links{
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.link__span{
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  border-bottom: 1px solid #e0e4e0;
  text-transform: uppercase;
  font-size: calc(var(--small-font-size) - 0.05rem);
  font-family: var(--medium-font);
}

.main__links{
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  border-bottom: 1px solid #e0e4e0;
  color: var(--green);
}

.divider{
  width: 1px;
  height: 100%;
  display: block;
  background-color: ;
}

