.edito__section{
  width: 100%;
  height: auto;
  font-size: var(--normal-fontt-size) !important;
  padding: 8rem 0 3rem !important;
}

.edito__wrapper{
  width: 100%;
  height: auto;
  border: 1px solid #cccfcc;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
  padding: 1rem 2.5rem 1rem 1rem;
}

.edito__left{
  width: 45%;
  aspect-ratio: 800/700;
  position: relative;
  border-radius: 24px;
  overflow: hidden;

  img{
    object-fit: cover;
  }
}

.edito__right{
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.er__one{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.ero__h3{
  font-size: var(--h2-font-size);
  color: var(--black);
  letter-spacing: -3px;
  font-weight: 400;
  font-family: var(--medium-font);
}

.er__two{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.ert__p{
  line-height: 1.3;
  margin-bottom: 0.75rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* number of lines */
  overflow: hidden;
}

.er__three{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 2rem;
}

.ert__name{
  color: var(--black);
  font-family: var(--semibold-font);
}


//Responsive Design
@media screen and (max-width: 1380px) {
  .edito__wrapper{
    gap: 3rem;
  }

  .er__one{
    gap: 0rem;
  }

  .ero__h3{
    font-size: calc(var(--h2-font-size) - 0.15rem);
    letter-spacing: -2px;
  }

  .er__two{
    gap: 0.5rem;
    margin-top: 0.25rem;
  }
  
  .ert__p{
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  .er__three{
    gap: 0.2rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .edito__wrapper{
    gap: 1.5rem;
    border-radius: 25px;
    padding: 0.8rem 1.5rem 0.8rem 0.8rem;
  }

  .edito__left{
    border-radius: 13px;
  }

  .ero__h3{
    font-size: calc(var(--h2-font-size) - 0.8rem);
  }

  .ero__p, .ert__span, .ert__p, .er__three{
    font-size: var(--normal-font-size) !important;
  }
}

@media screen and (max-width: 1030px) {
  .edito__wrapper{
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    justify-content: flex-start;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
  }

  .edito__left{
    width: 100%;
  }
  
  .edito__right{
    width: 100%;
    padding: 0 2rem 0.5rem 0;
  }
  
}


@media screen and (max-width: 820px) {
  .edito__wrapper{
    width: 100%;
  }

  .edito__left{
    width: 100%;
  }
  
  .edito__right{
    width: 100%;
    padding: 0 2rem 0.5rem 0;
  }
}

@media screen and (max-width: 630px) {
  .edito__right{
    padding: 0 1rem 0.5rem 0;
  }
}