.edito__section{
  width: 100%;
  height: auto;
}

.edito__wrapper{
  width: 100%;
  height: auto;
  border: 1px solid var(--text-color);
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
  padding: 1.25rem 2rem 1.25rem 1.25rem;
}