.rounded{
  height: calc(58px - 12px);
  width: auto;
  padding: 0 1.2rem;
  display: grid;
  place-items: center;
  background-color: var(--green);
  color: white;
  border-radius: 14px;

  span{
    margin-top: -0.1rem;
    font-family: var(--medium-font);
    text-transform: uppercase;
    font-size: var(--small-font-size);
  }
}